SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

#JWT SECRET
SPRING_JWT_SECRET=
# 30d
SPRING_REFRESH_TOKEN_EXPIRE=
# 15min
SPRING_ACCESS_TOKEN_EXPIRE=

CLOUD_NAME=
API_KEY=
API_SECRET=

SPRING_ADMIN_USERNAME=
SPRING_ADMIN_EMAIL=
SPRING_ADMIN_PASSWORD=

SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=

SPRING_GROQ_API_KEY=

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

APP_SECURE_COOKIE=